//- Analytics tracking
script
    | (function(w,d,t,h,n,i,l,b) {
    |   w['tracklessName'] = n;
    |   w[n]=w[n] || function() {(w[n].q = w[n].q || []).push(arguments)};
    |   w[n].h = h;
    |   l=d.getElementsByTagName(t)[0]; b = d.createElement(t); b.src = '//'+h+'/'+i+'/analytics.js';
    |   b.async = true; l.parentNode.insertBefore(b,l);
    | })(window, document, 'script', 'analytics.trackless.app', 'tl', 'jmk');
    | tl('create', 'jmk');
    | tl('send', 'pageview');
